body {
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
}
.header-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 1200px;
  height: 96px;
  background-color: #000;
  /* padding: 10px; */
  border-radius: 25px;
  /* margin-top: 26px; */
}
.header-menu li {
  display: inline;
}

.header-menu li a {
  text-decoration: none;
}
.link_items {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.0015em;
  text-align: center;
  padding: 10px;
}
.link_items a:hover {
  color: #f4d867;
}
.link_items a {
  color: #ffffffb4;
}

.header__logo {
  width: 166px;
  height: 40px;
  padding: 5.55px 0.26px 0px 0px;
  gap: 0px;
  opacity: 0px;
}
.header__loginbutton {
  font-family: Inter;
  font-size: 16px;
  width: Hug (106px) px;
  height: Hug (56px) px;
  padding: 16px 28px 16px 28px;
  /* gap: 12px; */
  border-radius: 16px;
  opacity: 0px;
  /* outline: none; */
  border: none;
  background: #f4ce47;
  cursor: pointer;
  color: #000;
}
.header__icon img {
  padding: 5px;
}
.titlebar h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: #f4ba30;
  width: 220px;
}
.titlebar {
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  /* height: 50px; */
  min-width: 1300px;
  width: 100%;
  height: 80px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 20px;
  row-gap: 30px;
  width: 1070px;
  /* min-width: 1070px; */
}
.list-book {
  display: flex;
  justify-content: center;
  background-color: #2a2c2e;
  padding: 20px;
}
.list-book-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 30px;
  height: 577px;
  width: 294px;
  padding-top: 20px;
  /* gap: 8px; */
}
.list-book-card__image img {
  height: 357px;
  width: 246px;
  border-radius: 20px;
}
